
p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
}

body {
	background-color: Linen;
	color: black;
}

.navbar-custom {
	background-color: #CFC8B5;
}

.small-pic {
	display: inline-block;
	max-height: 140px;
	max-width: 280px;
	padding: 5px;
}

.xs-pic {
	display: inline-block;
	max-height: 70px;
	max-width: 140px;
	padding: 5px;
}

.menu-pad {
	padding-top: 70px;
}

.text-10pt {
	font-size: 10pt;
}

a {
	color: darkblue;
}