
p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
}

body {
	background-color: cornflowerblue;
	color: black;
}

.navbar-custom {
	background-color: lightsteelblue;
}

.tech {
	display: inline-block;
	max-height: 140px;
	max-width: 280px;
	padding: 5px;
}

.menu-pad {
	padding-top: 70px;
}

a {
	color: darkblue;
}